<div class="word-match-wrapper" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)"
  (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)">

  <svg class="svg-lines">
    <line *ngFor="let match of matchedPairs" [attr.x1]="match.start.x" [attr.y1]="match.start.y" [attr.x2]="match.end.x"
      [attr.y2]="match.end.y" [attr.stroke]="match.correct === undefined ? 'black' : (match.correct ? 'green' : 'red')"
      stroke-width="4"></line>

    <line *ngIf="isDragging" [attr.x1]="dragLine.start.x" [attr.y1]="dragLine.start.y" [attr.x2]="dragLine.end.x"
      [attr.y2]="dragLine.end.y" stroke="yellow" stroke-width="4"></line>
  </svg>

  <div class="word-match-container">
    <div class="column left">
      <p *ngFor="let item of leftWords; let i = index" class="word-item" [ngStyle]="{ 'background-color': '#f8f8f8' }"
        data-side="left" [attr.data-id]="i" (mousedown)="startDrag(item, 'left', $event)"
        (touchstart)="startDrag(item, 'left', $event)">
        {{ item.word }}
      </p>
    </div>

    <div class="column right">
      <p *ngFor="let item of rightWords; let i = index" class="word-item" [ngStyle]="{ 'background-color': '#f8f8f8' }"
        data-side="right" [attr.data-id]="i" (mousedown)="startDrag(item, 'right', $event)"
        (touchstart)="startDrag(item, 'right', $event)">
        {{ item.word }}
      </p>
    </div>
  </div>

  <audio src="../../assets/answersavetime.wav"></audio>
  <div class="button-bar">
    <button (click)="clearMatches()">Clear</button>
    <button (click)="saveMatches('save')" *ngIf="!isSave">Save</button>
    <button (click)="saveMatches('submit')" *ngIf="isSave" >Submit</button>
    <button (click)="onCheck()">alert</button>
  </div>
</div>

